* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.black {
  background-color: rgb(102, 85, 85);
}

.white {
  background-color: #eee;
}


.selected {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background-color: rgb(124, 155, 214);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avaliable{
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(86, 201, 255);
}

.canKill{
  background-color: rgb(255, 38, 38);
}